-----BEGIN CERTIFICATE-----
MIIDADCCAmmgAwIBAgIJAM3LAUoMaazfMA0GCSqGSIb3DQEBCwUAMIGYMQswCQYD
VQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTEUMBIGA1UEBwwLTG9zIEFuZ2Vs
ZXMxFTATBgNVBAoMDEV4YW1wbGUsIEluYzELMAkGA1UECwwCSVQxGzAZBgNVBAMM
EmRvZ3RhZy5leGFtcGxlLmNvbTEdMBsGCSqGSIb3DQEJARYOcm9vdEBsb2NhbGhv
c3QwHhcNMTUwNTIwMjI1NzM3WhcNMTUwNjE5MjI1NzM3WjCBmDELMAkGA1UEBhMC
VVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFDASBgNVBAcMC0xvcyBBbmdlbGVzMRUw
EwYDVQQKDAxFeGFtcGxlLCBJbmMxCzAJBgNVBAsMAklUMRswGQYDVQQDDBJkb2d0
YWcuZXhhbXBsZS5jb20xHTAbBgkqhkiG9w0BCQEWDnJvb3RAbG9jYWxob3N0MIGf
MA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDQRS/Te26ffxY5lX/dVvzWtbbipQU1
DzPklr9aD+ZUkHYQtgHc3SjEE4NRiQveG+y+6QfuK+AJdSAYnIsiYnXqxahXISdv
1sO6K1L5zm6aV5FFk8NS4hllzRzQhYW9w8vrlSFbEnW15z88MBju+y+SDWGoMrF2
1mttXgXdLxFqkwIDAQABo1AwTjAdBgNVHQ4EFgQU3RIp9nhsrrJSo+UHYYKcGgs8
QzowHwYDVR0jBBgwFoAU3RIp9nhsrrJSo+UHYYKcGgs8QzowDAYDVR0TBAUwAwEB
/zANBgkqhkiG9w0BAQsFAAOBgQArWXTGBewuz5sTiKv4/DaVRE+cYu+kq88cW67B
5g/VJv265MPX8+HnPEAU6oit98w2nxThwrg5nCB3/GuMhuKG7Tmfog0C0pSM3nL/
/Oq3ilyjjRNqw6sAqgXCcEPQCekLYNDywX5J15tAVsOHv2QuJmRtlJF4lTG89Kvc
4DTUnA==
-----END CERTIFICATE-----
