#!/bin/bash -uh
subscription-manager repos --disable="*"
subscription-manager repos --enable=rhel-7-server-extras-rpms --enable=rhel-7-server-optional-rpms --enable=rhel-7-server-rpms --enable=rhel-7-server-supplementary-rpms
touch /usr/local/src/rhsm_post_enroll.flg
##
##
